$Hauptfarbe-TSB-Dunkelblau: #1e3791;

$transition-fast: 0.125s all ease-in-out;
$transition-slow: 0.25s all ease-in-out;

$absolute-break: 768px;
$max-height-section: 1240px;
$max-width-content: 1280px;
