$color-primary-dark: #1e3791;
$color-white: #fff;
$color-black: #000;

$transition-fast: 0.125s all ease-in-out;
$transition-slow: 0.25s all ease-in-out;

$absolute-break: 768px;
$max-height-section: 1240px;
$max-width-content: 1280px;

$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;
