@import "../../styles/base.scss";

:local {
  .wrapper {
    background-color: $color-primary-dark;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    color: $color-white;

    @media screen and (max-width: $absolute-break) {
      width: 100%;
      box-sizing: border-box;
      padding: $spacing-xxxl $spacing-l;
    }

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      gap: 84px;
      align-items: center;
      @media screen and (min-width: $absolute-break) {
        height: 100vh;
        max-height: $max-height-section;
      }
      & > div:first-of-type {
        width: 204px;
      }
      & > div:last-of-type {
        flex: 1;
        h2 {
          margin-bottom: 37px;
        }
        p {
          @include body-intro;
        }
      }

      @media screen and (max-width: $absolute-break) {
        flex-direction: column-reverse;
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        & > div:first-of-type {
          width: 100%;
        }
      }
    }
  }
}
