@import "../../styles/base.scss";

:local {
  .wrapper {
    background-color: $Hauptfarbe-TSB-Dunkelblau;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    color: white;
    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      gap: 84px;
      align-items: center;
      @media screen and (max-width: $absolute-break) {
        min-height: 100vh;
        padding: 0 8px;
      }
      @media screen and (min-width: $absolute-break) {
        height: 100vh;
        max-height: $max-height-section;
      }
      & > div:first-of-type {
        // width: 30%;
        width: 204px;
        // padding-top: 294px;
      }
      & > div:last-of-type {
        // width: 70%;
        flex: 1;
        // padding-top: 196px;
        h2 {
          margin-bottom: 37px;
        }
        p {
          @include body-intro;
        }
      }
    }
  }
}
